div .color{
    border-bottom: 2px solid rgb(187, 134, 134);
    margin-bottom: 30px;
    margin-top: 30px;
    width: 100px;
}
div h4{
    margin-bottom: 30px;
    margin-top: 30px;
}
.details{
    transform: translateX(200px)
}
.mobile{
    transform: translateX(-20px)
}

.mobile img{
    width: 400px;
}


@media only screen and (max-width: 1300px) and (min-width: 750px){
    .details{
        transform: translateX(60px)
    }
    .mobile{
        transform: translateX(0px)
    }
    .mobile img{
        width: 500px;
    }
    
    
}

@media only screen and (max-width: 749px) and (min-width: 300px){
    .details{
        transform: translateX(60px)
    }
    .mobile{
        transform: translateX(0px)
    }
    
}