.footer {
    background-image: url('../../../images/Rectangle.png');
    height: 50%;
}

.social-media .icon{
    height: 40px;
    width: 40px;
    color: #ffffff;
    border-radius: 50%;
    /* border: 1px solid #6ACECE; */
    padding: 10px;
}
.social-media .active-icon{
    background-color: #f2f3f3 ;
    color:rgb(2, 2, 2);
}

.logo{
    transform: translateY(-80px);

}